.tu{
    width:90%;
    height:40%;
    font-size:11px;
}
.ph{
    width:25%;
    height:18%;
}
.p{
    width:25%;
    height:18%;
}
.ji{
    font-size:12px;
}
.yo
{
    font-size:24px;
}
.pi
{
    font-size:14px;
}
.ti{
    font-size:17px;
}
.tup{
    font-size:13px;
}
.he{
    font-size:16px;
}
.to{
    font-size:18px;
}
.cr{
    font-size:10px;
}
.z{
    font-size:24px;
}
.tel{
    font-size: 13px;
}
.st{
    font-size:19px;
}
.sti{
    font-size:14px;
}
.exe{
    font-size:16px;
}
.pie{
    font-size:12px;
}
.tips{
    font-size:18px;
}
.x
{
    background-size:100%,100%;
}
.lo
{
    background-size:100%,100%;
}
.easy{
    font-size:19px;
}
.ch{
    font-size:16px;
}
.cf{
    font-size:12px;
}
.ti{
    font-size:12px;
}